<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.sandman.blog.dao.mysql.user.CategoryDao">
    <select id="getCategoryById" parameterType="Long" resultType="com.sandman.blog.entity.user.Category">
        select * from category where delFlag = 0 and id = #{id}
    </select>
    <select id="getCategoryListByBloggerId" parameterType="Long" resultType="com.sandman.blog.entity.user.Category">
        select * from category where delFlag = 0 and bloggerId = #{bloggerId} order by orderNo
    </select>
    <insert id="createCategory" parameterType="com.sandman.blog.entity.user.Category">
        insert into category values(null,#{bloggerId},#{categoryName},#{blogCount},#{orderNo},null,#{createTime},null,#{updateTime},#{delFlag})
    </insert>
    <update id="updateCategory" parameterType="com.sandman.blog.entity.user.Category">
        update category set categoryName = #{categoryName},blogCount = #{blogCount},orderNo = #{orderNo},updateTime = #{updateTime},delFlag = #{delFlag} where id = #{id}
    </update>
    <select id="findMaxOrder" parameterType="Long" resultType="java.lang.Integer">
        SELECT MAX(orderNo) as maxOrderNo from category where delFlag=0 and bloggerId = #{bloggerId}
    </select>
</mapper>